*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

go.work

PLAN.md

.env

# Certificates
certs/test/private.pem
certs/test/public.pem

certs/prod/private.pem
certs/prod/public.pem

# Configs
configs/test.yaml
configs/prod.yaml

docs/
