name: Go

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:

  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: social_network
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Install Dependencies
      run: |
        go mod download
        go install github.com/swaggo/swag/cmd/swag@latest

    - name: Generate Certs
      run: |
        mkdir -p certs
        openssl genrsa -out certs/private.pem 2048
        openssl rsa -in certs/private.pem -pubout -out certs/public.pem

    - name: Install Migrate
      run: go install -tags 'postgres' github.com/golang-migrate/migrate/v4/cmd/migrate@latest

    - name: Run Migrations
      run: migrate -path ./migrations -database "postgres://user:password@localhost:5432/social_network?sslmode=disable" up

    - name: Generate Docs
      run: swag init -g cmd/app/main.go

    - name: Build
      run: go build -v ./...

    - name: Test
      env:
        POSTGRES_HOST: localhost
        POSTGRES_PORT: 5432
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
        POSTGRES_DB: social_network
        POSTGRES_SSL_MODE: disable
      run: go test -v -race -cover ./...
