name: Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.25'
      - name: Install dependencies
        run: |
          go mod download
          go install github.com/swaggo/swag/cmd/swag@latest
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

      - name: Generate Docs
        run: swag init -g cmd/app/main.go

      - name: Run Lint
        run: golangci-lint run --timeout=5m
